@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');

body {
    margin: 0;
    height: 100vh;
}
.main-img {
    background: url('../images/main-lense.jpg') no-repeat center;
    height: 77vh;
    background-size: cover;
    vertical-align: middle;
}
.main-text {
    text-align: center;
    font-family: 'NanumGothic', 'serif';
    font-weight: lighter;
    color: #ffffff9c;
    font-size: 2rem;
    padding-top: 110%;
    line-height: 2;
}
.welcome-box {
    background-color: #002060;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 200px;
    position: relative;
    top: -400;
    margin-left: 10%;
    color: white;
    text-align: center;
    font-size: 6rem;
    padding: 9rem 0;
    font-family: 'NanumGothic', 'serif';
    font-weight: bold;
    letter-spacing: 5px;
}
a.main-item {
    text-decoration: none;
}
.get-started {
    position: relative;
    background-color: #FBB504;
    top: -500;
    margin-left: 40%;
    font-size: 3rem;
    color: white;
    text-align: center;
    padding: 4rem 5rem;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    font-family: 'NanumGothic', 'serif';
    font-weight: bold;
}
.login {
    position: relative;
    background-color: #FF2A8D;
    top: -498;
    margin-left: 40%;
    font-size: 3rem;
    color: white;
    text-align: center;
    padding: 4rem 5rem;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    font-family: 'NanumGothic', 'serif';
    font-weight: bold;
}

/* PC */
@media screen and ( min-width: 1000px ) {
    .main-img {
        background: url('../images/main-lense.jpg') no-repeat center;
        height: 100vh;
        background-size: cover;
        vertical-align: middle;
        /* filter: grayscale(0.5); */
    }
    .main-text-pc {
        vertical-align: middle;
        text-align: center;
        padding-top: 30vh;
        color: white;
        font-size: 5rem;
        font-family: 'NanumGothic', 'serif';
        font-weight: bold;
        margin-bottom: 9rem;
        letter-spacing: 0.5rem;
    }
    .get-started-pc {
        background-color: #fbb504d9;
        margin-left: 70%;
        font-size: 2rem;
        color: white;
        text-align: center;
        padding: 2rem;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        font-family: 'NanumGothic', 'serif';
        font-weight: bold;
    }
    .login-pc {
        background-color: #ff2a8dd9;
        margin-left: 70%;
        font-size: 2rem;
        color: white;
        text-align: center;
        padding: 2rem;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        font-family: 'NanumGothic', 'serif';
        font-weight: bold;
    }
    
}
