@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');


.signupbox {
    font-family: 'NanumGothic', 'serif';
    background-color:white;
    border-radius: 100px;
    margin: 50px;
    margin-top:25px;
    display: grid;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    padding: 8rem;
}
body{
    background-image: url( "../images/background_log.png" );
    background-repeat : no-repeat;
    background-size : cover;
}
h2{
    font-family: 'NanumGothic', 'serif';
    font-size: 50px;
    text-align: center;
    letter-spacing: 10px;
    word-spacing: 150px;
    margin-bottom: 10px;
}
#topsign{
    color: white;
} 
#toplog{
    color: #9098a9;
}
#toplog:hover {
    color: white;
}
.inp {
    position: relative;
    margin: auto;
    width: 100%;
    margin-bottom: 2rem;
}
.inp .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 2rem;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}
.inp .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background: #FF2A8D;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}
.inp input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding-top: 80px;
    padding-bottom: 50px;
    height: 48px;
    font-size: 4rem;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
}
.inp input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}
.inp input:focus {
    background: none;
    outline: none;
}
.inp input:focus + span {
    color: #FF2A8D;
    transform: translateY(-26px) scale(0.75);
}
.inp input:focus + span + .border {
    transform: scaleX(1);
} 

.confirm-btn{
    font-family: 'NanumGothic', 'serif';
    font-weight: 600;
    font-size:50px ;
    background:#FF2A8D;
    color:#fff;
    border:none;
    border-radius: 100px;
    letter-spacing: 20px;
    padding:45px 280px;
    outline:none;
    margin-top: 25px;
  }
  .confirm-btn:hover{
    background:#fff;
    color:#FF2A8D;
  } 
.account-alert {
    margin: 50px;
    font-size: 2.3rem;
    border-radius: 20px;
    padding: 2rem;
}

@media screen and ( min-width: 1000px ) {
    body {
        background-image: none;
        background: #002060;
    }
    h2{
        word-spacing: 300px;
    }
    .signupbox{
        padding: 6rem;
    }
    .inp input {
        padding-top: 50px;
    }
    .inp .label {
        font-size: 1.5rem;
    }
    .inp input {
        font-size: 2rem;
    }
    .confirm-btn{
        font-weight: lighter;
    }
}