<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        {% load bootstrap4 %}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
    </head>
    <body>
        <div class='nav bg-warning'>
            {% if user.is_authenticated %}
                '{{ request.user.username }}'님 환영합니다.
                <a href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
                <form id="logout" method="POST" action="{% url 'logout' %}" style="margin-bottom:0;">
                    {% csrf_token %} <input type="hidden" />
                </form>
                <a href="{% url 'list' request.user.id %}"> 피드 </a>
                <a href="{% url 'setting' %}">설정</a>
            {% else %}
                <a href="{% url 'login' %}">로그인</a><br/>
            {% endif %}
            <br/>
        </div>

        {% block content %}
        {% endblock content %} 
    </body>
</html>
