@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
@font-face { font-family: 'BBTreeGL'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGL.woff') format('woff'); font-weight: normal; font-style: normal; }

body{
    background-color: #002060;
}

.profile{
    /* margin-top: 70px; */
    height: 150px;
    padding: 0px 130px;
}
.profile img{
    height: 120px;
    width:120px;
    vertical-align: middle; 
    border-radius: 50%;
    object-fit: cover;  
}
a.shownamelink:hover {
    text-decoration: none;
}
.profile .showname{
    font-family: 'Montserrat';
    font-weight: lighter;
    font-size: 50px;
    color: white;
} 
.fa-plus::before{
    padding: 20px;
    background-color: #FF2A8D;
    border-radius: 100%;
}

.listbox{
    background-size: 500px;
    background-color: white;
    border-radius: 150px 150px 0px 0px;
    padding: 50px;
    min-height: 100vh;
}
.followbox{
    font-family: 'Montserrat';
    font-size: 50px;
    text-align: center;
    height: 200px;
    border-radius: 150px 150px 0px 0px;
}
.showpost{
    color: #002060;
    font-family: 'Montserrat';
    font-size: 40px;
    margin: 30px;
}
.showpost .postdate{
    font-family: 'Montserrat';
    font-size: 30px;
    color: #C7C7C7;
}
.postimage{
    width: 100%;
    height: 600px;
    border-radius: 50px;
}
.miniprofile{
    font-weight: bold;
    padding-left: 0px;
    margin-bottom: 20px;
}
.miniprofile img{
    border-radius: 50%;
    object-fit: cover; 
    width: 70px;
    height: 70px;
}
.fas.fa-heart{
    color:#FF2A8D;
}
.likebar{
    padding-left: 25px;
    margin-top: 20px;
}
.showpost .postcontent{
    color: #002060;
    font-family: 'BBTreeGL';
    padding: 10px 45px;
}
.fa-comment-alt{
    color:#FF2A8D;
    padding-left: 25px;
}
.thumb{
    font-family: 'Montserrat';
    font-size: 35px;
    color: #FBB504;
    text-decoration: none;
}
.likebar a{
    text-decoration: none;
}
.commlist{
    padding: 10px 45px;
}
.commlist a{
    font-family: 'BBTreeGL';
    font-size: 35px;
    color: #FBB504;
    text-decoration: none;
    opacity:0.7;
}
.commentarea{
    margin: 10px 45px;
    width: 750px !important;
    border-radius: 30px;
    font-family: 'BBTreeGL';
    font-size: 30px;
    color:#002060;
}

.deletepost{
    font-family: 'BBTreeGL';
    float: right;
    text-align: center;
    width: 200px;
    padding: 0.5rem;
    color: #D0D0D0;
}
.deletepost:hover{
    text-align: center;
    /* background-size: 130px; */
    background-color: #FBB504;
    border-radius: 100px;
    color: white;
    text-decoration: none;
}
.comm-btn{
    background:#FF2A8D;
    color:#fff;
    border:none;
    border-radius: 100px;
    /* height:80px !important; */
    font-family: 'BBTreeGL';
    font-size:40px;
    letter-spacing: 20px;
    width:750px;
    padding:1.5rem 10rem;
    margin: 10px 45px;
    outline:none;
  }
  .comm-btn:hover{
    background:#fff;
    color:#FF2A8D;
  }

  @media screen and ( min-width: 1000px ) {
    .profile{
        padding: 0px 200px;
    }
    .profile img{
        height: 100px;
        width:100px;
    }
    .profile .showname{
        font-size: 30px;
    } 
    .fa-plus::before{
        font-size: 50px;
        background-color: #FF2A8D;
        border-radius: 100%;
        margin-bottom: 5px;
    }
    .listbox{
        border-radius: 100px 100px 0px 0px;
        min-height: 100vh; 
        padding: 30px;
        margin: 0 2rem;
    }
    .followbox{
        font-size: 30px;
        height: 100px;
    }
    .miniprofile{
        font-size: 30px;
        font-weight: bold;
        padding-left: 0;
    }
    .miniprofile .postdate{
        font-size: 20px;
    }
    .postimage{
        align-content: middle;
        width: 100%;
        border-radius: 50px;
    }
    .likebar{
        font-size: 30px;
        margin-top: 80px;
    }
    .showpost .postcontent{
        color: #002060;
        font-size: 30px;
        padding: 10px 45px;
    }
    .fa-comment-alt{
        color:#FF2A8D;
        padding-left: 25px;
    }
    .thumb{
        font-size: 30px;
        color: #FBB504;
        text-decoration: none;
    }
    .likebar a{
        text-decoration: none;
    }
    .commlist{
        padding: 10px 45px;
    }
    .commlist a{
        font-size: 30px;
        color: #FBB504;
        text-decoration: none;
        opacity:0.7;
    }
    .commentarea{
        margin-top: 100px;
        width: 100% !important;
        font-size: 30px;
    }
    
    .deletepost{
        font-size:25px;
        text-align: center;
        padding: 1rem;
    }
    .deletepost:hover{
        text-align: center;
    }
    .comm-btn{
        width:100%;
        padding:1.5rem 6rem;
    }
      .comm-btn:hover{
        background:#fff;
        color:#FF2A8D;
      }
}