{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
</head>

<div class="profile d-flex justify-content-between align-items-center">
    <img src={{user.profile.image.url}} class="profileimg" alt='프로필 사진' width=100>
    <span class="showname">{{user.username}}</span>
    {% if user == request.user %}
        <a href="{% url 'postcreate' %}" >
            <span style="font-size: 75px;">
            <span style="color: white;">
                <i class="fas fa-plus"></i>
            </span>
        </a>
    {% else %}
        {% if follow %}
            <a href="{% url 'follow' user.id %}"><img src="{% static 'images/afterfollow.png' %}" class='afollowstyle'></a>
        {% else %}
            <a href="{% url 'follow' user.id %}"><img src="{% static 'images/beforefollow.png' %}" class='bfollowstyle'></a>
        {% endif %}
    {% endif %}
</span>
</div>

<br/>

<div class=listbox>
    <div class="followbox">
        <div class="row">
            <div class="col-sm-4">{{user.receive.count}}<br/>followers</div>
            <div class="col-sm-4">{{user.send.count}}<br/>following</div>
            <div class="col-sm-4">{{like_count}}<br/>likes</div>
        </div>
    </div>
    <div class="row piclist">
        {% for post in posts %}
            <div class="col-sm-4 col-lg-3">
            <a href="{% url 'show' post.id %}">
                <img src={{post.image.url}} alt='등록한 이미지' style='width: 100%'><br/>
            </a>
            </div>
        {% endfor %}
    </div>
</div>

{% if user != request.user %}
    {% if not request.PC %}
        <div class='send-message' style='position: fixed; bottom: 5px; left: 50%; transform: translate(-50%, -50%); z-index: 1;'>
            <a href="{% url 'message:messagecreate' user.id %}">
                <span style="font-size: 75px;">
                <span style="color: white;">
                    <i class="far fa-paper-plane"></i>
                </span>
            </a>
        </div>
    {% else %}
        <div class='send-message' style='position: fixed; bottom: 30px; right: 50px; z-index: 1;'>
            <a href="{% url 'message:messagecreate' user.id %}">
                <span style="font-size: 40px;">
                <span style="color: white;">
                    <i class="far fa-paper-plane"></i>
                </span>
            </a>
        </div>
    {% endif %}
{% endif %}

{% endblock %}