{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/new.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap">
</head>

<div class=listbox>
    <div class="postcontainer">
        <h1>New post</h1>
        <hr><br>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <input type="submit" class="btn newpost-btn" value="등록"/>
        </form>
    </div>
</div>
{% endblock %}