{% extends 'base.html' %}
{% block content %}
<h2>post/show.html</h2>
<h3>내용 : {{post.content}}</h3>
<h3>작성자 : {{post.user.username}}</h3>
{% if not post.user == request.user %}
    {% if like %}
        <h4><a href="{% url 'like' post.id %}">좋아요 취소</a></h4>
    {% else %}
        <h4><a href="{% url 'like' post.id %}">좋아요</a></h4>
    {% endif %}
{% endif %}
{{ post.like_set.count }} Likes<br/>
<img src={{post.image.url}} alt='등록한 이미지' style='width: 200px'><br/>

{% if post.user == request.user %}
    <a href="{% url 'postdelete' post.id %}" onclick="return confirm('정말 삭제하시겠습니까?')">삭제하기</a><br/>
{% endif %}
{% if post.user != request.user %}
    <form action="{% url 'commentcreate' post.id %}" method='POST'>
        {% csrf_token %}
        {{form}}
        <button type='submit'>댓글 등록</button>
    </form>
{% endif %}
<em>댓글 목록</em><br/>
{% for comment in comments %}
    {{comment.user}} : {{comment.content}} {% if comment.user == request.user %}<a href="{% url 'commentdelete' comment.id %}" onclick="return confirm('정말 삭제하시겠습니까?')">[삭제]</a> {% endif %}<br/>
{% endfor %}

{% endblock %}
