{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/trend.css' %}">
</head>

<div class='trend-info'>
    <div class='info-header'>
        <h1>지금 인기있는 사진을 둘러보세요!</h1>
        <h3>See the trends right now!</h3>
    </div>
</div>
<div class=trendbox>
    <p class='trend-name'># {{first}}</p>
    <div class="trends">
        <div class="trend">
            {% for trend in first_trend %}
                <a href="{% url 'show' trend.id %}">
                    <img src={{trend.image.url}} alt='이미지' class='thumbnail' />
                </a>
            {% endfor %}
        </div>
	</div>
    <p class='trend-name'># {{second}}</p>
    <div class="trends">
        <div class="trend">
            {% for trend in second_trend %}
                <a href="{% url 'show' trend.id %}">
                    <img src={{trend.image.url}} alt='이미지 ' class='thumbnail' />
                </a>
            {% endfor %}
        </div>
	</div>
    <p class='trend-name'># {{third}}</p>
    <div class="trends">
        <div class="trend">
            {% for trend in third_trend %}
                <a href="{% url 'show' trend.id %}">
                    <img src={{trend.image.url}} alt='이미지 ' class='thumbnail' />
                </a>
            {% endfor %}
        </div>
	</div>
</div>

{% endblock %}