{% extends 'base.html' %}
{% block content %}

<div class="signup">
    <form method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        {{form}}
    
    <h2> <i class="fas fa-user-plus"> </i> 회원가입 </h2>
    <br/>

    <input name="username" type="text" required='true' placeholder='아이디를 입력하세요.'><br/>
    {% if error1 %}
        {{ error1 }}
    {% endif %}

    <input name="password1" type="password" required='true' placeholder='비밀번호'><br/>
    <input name="password2" type="password" required='true' placeholder='비밀번호 확인'><br/>
    {% if error2 %}
        {{ error2 }}
    {% endif %}

    <input type="submit" class='fa btn btn-primary' value='가입하기&#xf2f6'><br/>
    </form>
</div>

{% endblock %}