{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
</head>
    <form class="signup">
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            {{form}}
        <h2>
            <a href="{% url 'login' %}" id=toplog>LOGIN</a>
            <a id=topsign>SIGNUP</a>
        </h2>

        <div class=signupbox>
            <label for="inp" class="inp">
            {% comment %} <input name="username" type="text" required='true' placeholder='아이디를 입력하세요.'> {% endcomment %}
            <input name="username" type="text" id="inp" placeholder="&nbsp;" required>
            <span class="label">아이디</span>
            <span class="border"></span>
            </label>

            <label for="inp" class="inp mt-3">
            <input name="password1" type="password" id="inp" placeholder="&nbsp;" required>
            <span class="label">비밀번호</span>
            <span class="border"></span>
            </label>
            <label for="inp" class="inp mt-3">
            <input name="password2" type="password" id="inp" placeholder="&nbsp;" required>
            <span class="label">비밀번호 확인</span>
            <span class="border"></span>
            </label>
            {% if request.PC %}
                <div class="d-flex justify-content-center">
                    <button type="submit" class='fa confirm-btn'>가입하기</button>
                </div>
            {% endif %}
        </div>
        {% if error1 %}
            <div class="alert alert-danger account-alert" role="alert">
                {{ error1 }}
            </div>
        {% endif %}
        {% if error2 %}
            <div class="alert alert-danger account-alert" role="alert">
                 {{ error2 }}
            </div>
        {% endif %}
        {% if not request.PC %}
            <div class="d-flex justify-content-center">
                <button type="submit" class='fa confirm-btn'>가입하기</button>
            </div>
        {% endif %}

        </form>
    </form>

    {% endblock %}